* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'Roboto Slab', serif;
}
.app-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-title {
  height: 0px;
  font-size: 1px;
  overflow: hidden;
}
.header-img {
  width: 300px;
  @media all and (min-width:768px) {
    width: 400px;
  }
}
.character-info__container {
  background-color: rgb(0, 180, 204);
}
.character-img {
  width: 200px;
  height: 200px;
  margin: 0px;
}
.character-name {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 7px;
}
.character-species {
  font-size: 17px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.character-link {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 180, 204);
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-input {
  border: 2px solid rgb(0, 180, 204);
  color: white;
  padding: 7px;
  background-color: black;
  margin: 30px 16px;
}
.characters-list{
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 16px;
  margin-bottom: 30px;
  @media all and (min-width:320px) {
    grid-template-columns: auto auto;
}
  @media all and (min-width:768px) {
    grid-template-columns: auto auto auto;
}
  @media all and (min-width:1280px) {
    grid-template-columns: auto auto auto auto auto;
}
}

.character-detail__container {
  color: white;
}